################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PowerPointAddIn1/bin
/PowerPointAddIn1/obj
/PowerPointAddIn1/.vs
/PowerPointAddIn1/.vshistory
